body {
  background: #607D8B;
}

.typing {
    position:absolute;
    left:50%;
    top:50%;
    margin: -90px 0 0 -205px;
    width:410px;
    overflow:hidden;
    font-size: 90px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FAFAFA;
    border-right: .02em solid white;
    -webkit-animation: type 1.3s steps(30, end),
                        blink-caret 1s 1.5s step-end infinite;
    -moz-animation: type 1.3s steps(30, end),
                        blink-caret 1s 1.5s step-end infinite;
    animation: type 1.3s steps(30, end),
                        blink-caret 1s 1.5s step-end infinite;
}

@-webkit-keyframes type {
    from { width: 0 }
    to { width:410px }
}

@-moz-keyframes type {
    from { width: 0 }
    to { width:410px }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}
